.card {
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 8px 25px 8px;
    width: 90%;
    position: relative;
}

.card h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.card img {
    width: 200px;
    height: 150px;
}

.card .short-description {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    text-align: justify;
}

.card .tags {
    text-align: left;
    width: 80%;
    color: #888888;
    font-size: 0.8em;
    padding-bottom: 80px;

}

.button-to-detail {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 6px;
}

.button-to-detail:hover {
    color: #888888;
    padding: 5px;
}