.header {
    background-color: #00009C;      
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 700;    
}

.link {
    padding-right: 20px;
    color: #fff;
}

.link:hover {
    color:  #c0d6e4;
}

